In [133]:
import pandas as pd
import numpy as np

In [134]:
df = pd.read_csv('/Users/noahpovis/Desktop/Buildweek22/Build Week 2 /DX.csv')

In [135]:
def clean(i):
    i = i.copy()
    i.drop_duplicates(subset=['Organization Name','Funding Type'], inplace = True)
    i.drop_duplicates(keep='first', inplace= True)
    i['Raised Series A'] = np.where(i['Organization Name'].duplicated(), 1, 0)
    i.drop_duplicates(subset='Organization Name', keep='last', inplace= True)
    i['Money Raised Currency (in USD)'] = pd.to_numeric(i['Money Raised Currency (in USD)'], errors='coerce')
    i['Total Funding Amount Currency (in USD)'] = pd.to_numeric(i['Total Funding Amount Currency (in USD)'], errors='coerce')
    i['Announced Date'] = pd.to_datetime(i['Announced Date'], errors='coerce')
    i['Total Funding Amount Currency (in USD)'] = pd.to_numeric(i['Total Funding Amount Currency (in USD)'], errors='coerce')
    i  = i[i['Funding Type'] != 'Series A'] 
    return i

In [136]:
df_clean = clean(df)

In [137]:
def split_columns(text):
    text = text.copy()
    # new data frame with split value columns 
    new = text["Organization Industries"].str.split(",", n = 7, expand = True) 
    # making separate first name column from new data frame 
    text["Primary Industry"]= new[0] 
    # making separate last name column from new data frame 
    text["Sub_Ind"]= new[1] 
    text["Sub_Ind2"]= new[2]
    text["Sub_Ind3"]= new[3]
    text["Sub_Ind4"]= new[4]
    text["Sub_Ind5"]= new[5]
    text["Sub_Ind6"]= new[6]
    text["Sub_Ind7"]= new[7]
    # Dropping old Name columns 
    text.drop(columns =["Organization Industries"], inplace = True)

    #same thing but for investor column 
    new1 = text["Investor Names"].str.split(",", n = 11, expand = True) 
    # making separate first name column from new data frame 
    text["Investor1"]= new1[0] 
    # making separate last name column from new data frame 
    text["Investor1"]= new1[1] 
    text["Investor2"]= new1[2]
    text["Investor3"]= new1[3]
    text["Investor4"]= new1[4]
    text["Investor5"]= new1[5]
    text["Investor6"]= new1[6]
    text["Investor7"]= new1[7]
    text["Investor8"]= new1[8]
    text["Investor9"]= new1[9]
    text["Investor10"]= new1[10]
    text["Investor11"]= new1[11]
    # Dropping old Name columns 
    text.drop(columns =["Investor Names"], inplace = True)
    text.drop(columns =["Lead Investors"], inplace = True)
    text.drop(columns =["Number of Investors"], inplace = True)
    text.drop(columns =["Transaction Name"], inplace = True)
    text.drop(columns =["Transaction Name URL"], inplace = True)
    text.drop(columns =["Organization Name URL"], inplace = True)
    text.drop(columns =["Funding Type"], inplace = True)
    text.drop(columns =["Money Raised Currency"], inplace = True)
    text.drop(columns =["Total Funding Amount Currency"], inplace = True)
    text.drop(columns =["Total Funding Amount"], inplace = True)
    text.drop(columns =["Money Raised"], inplace = True)
    text = text[text['Money Raised Currency (in USD)'].notna()]
    text = text[text['Organization Location'].notna()]
    text = text[text['Primary Industry'].notna()]
    text = text[text['Money Raised Currency (in USD)'].notna()]

    



    return text

In [138]:
df_split = split_columns(df_clean)

In [139]:
def clean_null(a):
    a['Primary Industry'].fillna('Not Listed', inplace = True)
    a['Sub_Ind'].fillna('Not Listed', inplace = True)
    a['Sub_Ind2'].fillna('Not Listed', inplace = True)
    a['Sub_Ind3'].fillna('Not Listed', inplace = True)
    a['Sub_Ind4'].fillna('Not Listed', inplace = True)
    a['Sub_Ind5'].fillna('Not Listed', inplace = True)
    a['Sub_Ind6'].fillna('Not Listed', inplace = True)
    a['Sub_Ind7'].fillna('Not Listed', inplace = True)
    a['Investor1'].fillna('Not Listed', inplace = True)
    a['Investor2'].fillna('Not Listed', inplace = True)
    a['Investor3'].fillna('Not Listed', inplace = True)
    a['Investor4'].fillna('Not Listed', inplace = True)
    a['Investor5'].fillna('Not Listed', inplace = True)
    a['Investor6'].fillna('Not Listed', inplace = True)
    a['Investor7'].fillna('Not Listed', inplace = True)
    a['Investor8'].fillna('Not Listed', inplace = True)
    a['Investor9'].fillna('Not Listed', inplace = True)
    a['Investor10'].fillna('Not Listed', inplace = True)
    a['Investor11'].fillna('Not Listed', inplace = True)
    
    return a

In [140]:
data = clean_null(df_split)
data.sample(5)

,Organization Name,Money Raised Currency (in USD),Announced Date,Total Funding Amount Currency (in USD),Organization Description,Organization Location,Raised Series A,Primary Industry,Sub_Ind,Sub_Ind2,...,Investor2,Investor3,Investor4,Investor5,Investor6,Investor7,Investor8,Investor9,Investor10,Investor11
23009,Four Teknoloji,200000.0,2019-12-17,200000.0,Four Teknoloji is a producer of hydraulic and ...,"Istanbul, Istanbul, Turkey, Europe",0,Industrial Manufacturing,Not Listed,Not Listed,...,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed
5277,Pablito,225000.0,2019-06-01,395000.0,"Shuttle Service and Software for Businesses, I...","Los Angeles, California, United States, North ...",0,Information Technology,Mobile Apps,Software,...,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed
24940,Dataswift,2254167.0,2019-09-19,2254167.0,Dataswift is a AWS-like web services company f...,"Cambridge, Cambridgeshire, United Kingdom, Europe",0,Information Technology,Internet,Software,...,Pacific & Orient Properties,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed
6303,Small Door,3500000.0,2019-04-30,3500000.0,Small Door provides veterinary services that a...,"New York, New York, United States, North America",0,Health Care,Medical,Pet,...,Jonathan Neman,Lerer Hippeau,Nat Turner,Nathaniel Ru,Neil Blumenthal,Nicolas Jammet,Primary Venture Partners,Zach Weinberg,Not Listed,Not Listed
15883,Triyosoft,100000.0,2018-06-11,100000.0,SaaS Fintech Company with a Project Management...,"Toronto, Ontario, Canada, North America",0,B2B,Banking,Collaboration,...,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed

In [141]:
data.isnull().sum()

Organization Name                         0
Money Raised Currency (in USD)            0
Announced Date                            0
Total Funding Amount Currency (in USD)    0
Organization Description                  0
Organization Location                     0
Raised Series A                           0
Primary Industry                          0
Sub_Ind                                   0
Sub_Ind2                                  0
Sub_Ind3                                  0
Sub_Ind4                                  0
Sub_Ind5                                  0
Sub_Ind6                                  0
Sub_Ind7                                  0
Investor1                                 0
Investor2                                 0
Investor3                                 0
Investor4                                 0
Investor5                                 0
Investor6                                 0
Investor7                                 0
Investor8                                 0
Investor9                                 0
Investor10                                0
Investor11                                0
dtype: int64

In [142]:
#convert all to categories 
data["Organization Name"] = data["Organization Name"].astype('category')
data["Organization Description"] = data["Organization Description"].astype('category')
data["Organization Description"] = data["Organization Description"].astype('category')
data["Organization Location"] = data["Organization Location"].astype('category')
data["Primary Industry"] = data["Primary Industry"].astype('category')
data["Sub_Ind"] = data["Sub_Ind"].astype('category')
data["Sub_Ind2"] = data["Sub_Ind2"].astype('category')
data["Sub_Ind3"] = data["Sub_Ind3"].astype('category')
data["Sub_Ind4"] = data["Sub_Ind4"].astype('category')
data["Sub_Ind5"] = data["Sub_Ind5"].astype('category')
data["Sub_Ind6"] = data["Sub_Ind6"].astype('category')
data["Sub_Ind7"] = data["Sub_Ind7"].astype('category')
data["Investor1"] = data["Investor1"].astype('category')
data["Investor2"] = data["Investor2"].astype('category')
data["Investor3"] = data["Investor3"].astype('category')
data["Investor4"] = data["Investor4"].astype('category')
data["Investor5"] = data["Investor5"].astype('category')
data["Investor6"] = data["Investor6"].astype('category')
data["Investor7"] = data["Investor7"].astype('category')
data["Investor8"] = data["Investor8"].astype('category')
data["Investor9"] = data["Investor9"].astype('category')
data["Investor10"] = data["Investor10"].astype('category')
data["Investor11"] = data["Investor11"].astype('category')

In [143]:
data.dtypes

Organization Name                               category
Money Raised Currency (in USD)                   float64
Announced Date                            datetime64[ns]
Total Funding Amount Currency (in USD)           float64
Organization Description                        category
Organization Location                           category
Raised Series A                                    int64
Primary Industry                                category
Sub_Ind                                         category
Sub_Ind2                                        category
Sub_Ind3                                        category
Sub_Ind4                                        category
Sub_Ind5                                        category
Sub_Ind6                                        category
Sub_Ind7                                        category
Investor1                                       category
Investor2                                       category
Investor3                                       category
Investor4                                       category
Investor5                                       category
Investor6                                       category
Investor7                                       category
Investor8                                       category
Investor9                                       category
Investor10                                      category
Investor11                                      category
dtype: object

In [144]:
#from sklearn import preprocessing
#enc = preprocessing.OrdinalEncoder()

In [145]:
#features = ['Organization Name','Organization Description','Organization Location','Raised Series A','Primary Industry','Sub_Ind','Sub_Ind2','Sub_Ind3','Sub_Ind4','Sub_Ind5','Sub_Ind6','Sub_Ind7','Investor1','Investor2','Investor3','Investor4','Investor5','Investor6','Investor7','Investor8','Investor9','Investor10','Investor11']

In [146]:
#data_encoded = enc.fit(data[features])

In [147]:
raised = data[data['Raised Series A'] == 1]

In [148]:
raised.sample(5)

,Organization Name,Money Raised Currency (in USD),Announced Date,Total Funding Amount Currency (in USD),Organization Description,Organization Location,Raised Series A,Primary Industry,Sub_Ind,Sub_Ind2,...,Investor2,Investor3,Investor4,Investor5,Investor6,Investor7,Investor8,Investor9,Investor10,Investor11
14616,TemTem,1700000.0,2018-07-29,5700000.0,TemTem is a ride-hailing company.,"Algiers, Alger, Algeria, Africa",1,Internet,Mobile Apps,Taxi Service,...,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed
5944,Get Energy,100000.0,2019-04-30,310000.0,Get Energy is an information technology compan...,"Moscow, Moscow City, Russian Federation, Europe",1,Information Technology,Software,Not Listed,...,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed
19136,LIfT BioSciences,431833.0,2018-03-22,2843854.0,LIfT BioSciences is a socially-minded Biotech ...,"London, England, United Kingdom, Europe",1,Biopharma,Biotechnology,Health Care,...,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed
14891,TECHBOOZE CONSULTANCY SERVICES PVT. LTD.,1000000.0,2018-07-17,16000000.0,"Techbooze[1] ""AN OPEN FORUM"" is a service base...","New Delhi, Delhi, India, Asia",1,Business Development,Consulting,Not Listed,...,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed
12336,Young Alfred,1750000.0,2018-10-08,12250000.0,Young Alfred is an online marketplace to easil...,"Philadelphia, Pennsylvania, United States, Nor...",1,Financial Services,FinTech,Insurance,...,Newfund Capital,Pear Ventures,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed,Not Listed

In [158]:
#the baseline 
data['Raised Series A'].value_counts(normalize=True)

0    0.942486
1    0.057514
Name: Raised Series A, dtype: float64

In [149]:
x = data.drop(columns=['Raised Series A', 'Announced Date'])
y = data['Raised Series A']

In [150]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [151]:
X_train.shape , X_test.shape, y_train.shape, y_test.shape

((8457, 24), (4166, 24), (8457,), (4166,))

In [152]:
X_train.drop(columns =["Total Funding Amount Currency (in USD)"], inplace = True)
X_test.drop(columns =["Total Funding Amount Currency (in USD)"], inplace = True)

In [153]:
import category_encoders as ce
from sklearn.impute import SimpleImputer
from xgboost import XGBClassifier
from sklearn.pipeline import make_pipeline
from sklearn.metrics import recall_score
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import precision_recall_curve

pipeline = make_pipeline(
    ce.OrdinalEncoder(),
    SimpleImputer(strategy='median'),
    XGBClassifier(n_estimators=100,
                  random_state=42,
                  n_jobs=-1          
)
)




pipe = pipeline.fit(X_train, y_train);

In [154]:
xgb_train = pipe.predict(X_train)
print("XGBoost Classifier val Recall Accuracy:", recall_score(y_train, xgb_train))
print("XGBoost Classifier val Accuracy Score:", accuracy_score(y_train, xgb_train))
print("XGBoost Classifier val Precision Accuracy:", precision_score(y_train, xgb_train))

XGBoost Classifier val Recall Accuracy: 0.7728194726166329
XGBoost Classifier val Accuracy Score: 0.9867565330495448
XGBoost Classifier val Precision Accuracy: 1.0

In [155]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report
from sklearn.metrics import precision_recall_curve

In [156]:
#run test predictions 
predictions = pipe.predict(X_test)
print(classification_report(y_test, predictions))

precision    recall  f1-score   support

           0       0.95      0.98      0.96      3933
           1       0.18      0.06      0.09       233

    accuracy                           0.93      4166
   macro avg       0.56      0.52      0.53      4166
weighted avg       0.90      0.93      0.92      4166

In [ ]:
#look into creating an optimal threshold and create a few graphs like confusion matrix, roc-auc curve

In [107]:
#import smote 
from imblearn.over_sampling import SMOTENC

In [108]:
smote_nc = SMOTENC(categorical_features=[data.dtypes==object], random_state=0)

In [109]:
x_resampled, y_resampled = smote_nc.fit_resample(x, y)

ValueError: could not convert string to float: 'Xperiti'